html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; /* toegevoegd om de inhoud horizontaal te centreren */
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    
}


.textveld {
    display: block;
    width: 100%;
    min-height: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    background-color: white;
}



button {
    padding: 2em;
    font-size: 1em;
    width: 8em;
    background-color: rgb(195, 223, 238);
    margin: 2em;
    cursor: pointer;
    height: 7em;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #f0f0f0;
    padding: 10px;
    height: 62%;
    position: relative;
    z-index: 1;
}



.textveld::after {
    content: "|";
    animation: blink 1s step-start infinite;
    color: black;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
