html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; /* toegevoegd om de inhoud horizontaal te centreren */
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    
}


.textveld {
    display: block;
    width: 100%;
    min-height: 34dvh;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    background-color: white;
}



button {
    padding: 9vw;
    font-size: 1em;
    width: 30vw;
    background-color: rgb(195, 223, 238);
    margin: 9vw;
    cursor: pointer;
    height: 30vw;
    box-sizing: border-box;
    z-index: 20;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #f0f0f0;
    padding: 10px;
    height: 62%;
    position: fixed; /* of 'absolute' als je hem binnen een parent wil positioneren */
    bottom: 1dvh;
    left: 0;
    right: 0;
    z-index: 1;
}



.textveld::after {
    content: "|";
    animation: blink 1s step-start infinite;
    color: black;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
.keyboard button.big-letter {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Make it bolder for better visibility */
}

.keyboard {
    position: relative;
}

.keyboard-separator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12.5%; /* Position at 1/8th of the keyboard width */
    width: 2px;
    background-color: #c6c6c6;
    pointer-events: none; /* Make sure it doesn't interfere with clicks */
    z-index: 10;
}

/* Add some labels for backspace and space */
.backspace-label, .space-label {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    color: #ffffff;
    pointer-events: none;
    z-index: 10;
}

.backspace-label {
    left: 5px;
}

.space-label {
    left: calc(12.5% + 5px);
    z-index: 1; /* Position it next to the space button */
}

    /* Copy button styling */
    .copy-button {
        position: absolute;
        top: 31dvh;
        padding: 0px;
        background-color: #4CAF50;
        color: #fff2f2;
        border: none;
        border-radius: 9px;
        cursor: pointer;
        font-size: 5dvh;
        width: 45dvh;
        margin: 0;
        height: 8dvh;
    }
    
    .copy-button:active {
        background-color: #3e8e41;
    }
    
    /* Feedback message styling */
    .copy-feedback {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
        z-index: 100;
    }